/**
 * Colors
 */
$color-white: #FFFFFF;
$color-dark: #757475;
$color-darker: #333333;
$color-darkest: #262626;
$color-black: #111;

$color-success: #70B85D;
$color-temper: #0D8C7F;
$color-error: #C8385A;

$angular-red: #D42929;
$angular-white: #FFFFFF;
$angular-grey: #B2B2B2;
$angular-blue: #176DEE;
$angular-green: #009756;

/**
 * Fonts
 */
$font-primary: 'Lato', sans-serif;

/**
 * Global settings
 */
html {
	width: 100%;
	height: 100%;
}

body {
	width: 100%;
	min-height: 100%;

	font-family: $font-primary;
	font-weight: 300;
}

.container {
	position: fixed;
	//padding-top: 80px; // header height

	height: 100%;
	width: 100%;
}

/**
 * Sections
 */
.section {
	position: absolute;
	display: table;

	@include size(100% 100%);
}

.section-content {
	display: table-cell;
	vertical-align: middle;

	@include size(100% 100%);

	text-align: center;
}