#header {
	@include position(fixed, 0 0 0 0);
	@include background-image(url('../images/AngularJS-Shield-huge.png'));

	height: 80px;
	background-color: $angular-white;
	background-position: 20px center;
	background-repeat: no-repeat;
	background-size: auto 36px;
	box-shadow: 0 2px 5px 0 rgba(0,0,0,.26);
	z-index: 100;

	@include span-columns(12);

	h1 {
		padding-left: 70px;
		font-weight: 300;
		color: $angular-red;

		@include span-columns(8);
	}

	.header-download {
		text-align: right;
		line-height: 80px;
		height: 80px;

		@include span-columns(4);

		.download-git {
			display: inline-block;
			padding: 1px 13px 0 13px;
			margin-right: -3px;
			text-decoration: none;

			color: $angular-grey;

			@include transition(color 0.5s ease-in-out, background-color 0.5s ease-in-out);

			i {
				position: relative;
				top: 5px;
				padding-left: 5px;
			}		
		}

		.download-git:hover {
			color: $angular-white;
			background-color: $angular-grey;
		}

		.visit-git {
			display: inline-block;
			width: 160px;
			text-align: center;	
			font-size: 1.2em;
			text-decoration: none;

			background-color: $angular-green;
			color: $angular-white;

			@include transition(color 0.5s ease-in-out, background-color 0.5s ease-in-out);
		}
	}
}